/* Header */


/* Tablica za izračun kapacitet izolacije */
#kapacitet-kabela {
    background-color:rgb(46, 53, 97);
    background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
}

.table-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
}

.table {
    background: transparent;
}


tr:not(.row-divider) {
    background-color: #fff;
}

tr.row-divider td {
    border-left: none;
    border-right: none;
}

tr.row-divider:hover,
tr.row-divider td {
    background: none;
    background-color: transparent;
}

tr.text-is-centered td,
tr.text-is-centered th {
    text-align: center;
}

tr:hover th {
    background-color: #fff;
}

tr:hover,
tr td.has-text-weight-bold:hover {
    background-color: #c3c3c3;
}

td:hover {
    background-color:#ffde57;
}

/* Copyright */
.copyright {
    font-size: 0.8rem;
    text-align: center;
}

.love {
    color: crimson;
}